
BBR_residential_crawling/data.db
BBR_residential_crawling/testwrite.txt
BBR_residential_crawling/testwrite.html
BBR_residential_crawling/ResidentialListingsCompare.xlsx
BBR_residential_crawling/Compared.csv
BBR_residential_crawling/data.db-journal
BBR_residential_crawling/data.db-journal
BBR_residential_crawling/ResidentialListingsCompare_includedOneroof.xlsx
/Motor/NewCarPrice.csv
/Motor/NewCarPrice.xlsx
/Motor/testwrite.html
/Motor/yourcar.csv
/Motor/yourcar copy.csv
