[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
requests = "*"
sendgrid = "==6.1.0"
lxml = "*"
psutil = "*"
bs4 = "*"
zcrmsdk = "*"
dicttoxml = "*"
oss2 = "*"
mysql-connector-python = "*"
pyxero = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
